<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<title>{{ fn('wp_title', ' | ') }}</title>
	<meta charset="{{ site.charset }}">
	<meta name="description" content="{{ site.description }}">
	<meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/assets/vendor/twbs/bootstrap/dist/css/bootstrap.css" media="all" />
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/assets/css/main.css" media="all" />
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/views/amp/style.css" media="all" />
	<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
	<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
	<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
	<script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
</head>
