<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<title>{{ fn('wp_title', ' | ') }}</title>
	<meta charset="{{ site.charset }}">
	<meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="author" href="{{ site.theme.link }}/humans.txt"/>

	<link rel="preload" href="{{ fn('get_template_directory_uri') }}/assets/fonts/titillium-web-v6-latin-ext_latin-regular.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="{{ fn('get_template_directory_uri') }}/assets/fonts/titillium-web-v6-latin-ext_latin-700.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="{{ fn('get_template_directory_uri') }}/assets/fonts/titillium-web-v6-latin-ext_latin-italic.woff2" as="font" type="font/woff2" crossorigin />

	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/assets/vendor/twbs/bootstrap/dist/css/bootstrap.css" media="all" />
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/assets/css/main.css" media="all" />
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/views/amp/style.css" media="all" />
	<link rel="stylesheet" href="{{ site.url }}/wp-includes/css/dist/block-library/style.min.css" media="all" />
	<link rel="stylesheet" href="{{ fn('get_template_directory_uri') }}/assets/css/highlight.css" media="all" />

	<meta name="theme-color" content="#8265A7"/>
	<link rel="manifest" href="{{ fn('get_template_directory_uri') }}/assets/manifest/manifest.json"/>
	<link rel="icon" href="{{ site.url }}/wp-content/uploads/2021/01/cropped-icon-1-32x32.png" sizes="32x32" />
	<link rel="icon" href="{{ site.url }}/wp-content/uploads/2021/01/cropped-icon-1-192x192.png" sizes="192x192" />
	<link rel="apple-touch-icon" href="{{ site.url }}/wp-content/uploads/2021/01/cropped-icon-1-180x180.png" />
	<meta name="msapplication-TileImage" content="{{ site.url }}/wp-content/uploads/2021/01/cropped-icon-1-270x270.png" />
</head>
