<!doctype html>
<html {{ site.language_attributes }} id="top">
{% block html_head_container %}
	{% include 'header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

<body class="{{ body_class }}">
{% block header %}
	<header>
		{% include 'partial/navbar.twig' %}
	</header>
{% endblock %}

<main class="pb-0 mb-0 pt-3">
	<a class="visually-hidden" href="#content">{{ _e( 'Skip to content') }}</a>
	{{ fn('xlt_countdown') }}
	{% if not is_home %}
		<div class="container bg-white pt-4 px-4 pb-0">
			<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
				{% if (fn('xlt_breadcrumbs')) %}
					{{ fn('xlt_breadcrumbs') }}
				{% endif %}
			</nav>
		</div>
	{% endif %}

	<div class="container px-4 py-4 bg-white mb-0" id="content">

		{% if title %}
			<h2 class="display-5 pb-3">{{ title }}</h2>
			<hr class="pt-0 mt-0 mb-4"/>
		{% endif %}

		{% block content %}
			Sorry, no content
		{% endblock %}

	</div>
</main>

{% block footer %}
	<footer>
		<div class="pt-4 pb-3 bg-dark navbar-dark">
			{% include 'footer.twig' %}
			{{ fn('wp_footer') }}
		</div>
	</footer>
{% endblock %}

<span id="db3bd4a3c96f1fe80cd12d8df05e6320"></span>
</body>
</html>
