{% if comment.comment_type == 'comment' and comment.comment_lang == 'en' %}
	<div class="blog-comment {{ comment.comment_type }} {{ comment.comment_lang }}" id="blog-comment-{{ comment.ID }}">
		<hr/>
		<div class="card mb-3 rounded-0 border-0">
			<div class="row g-0">
				<div class="col-md-1">
					{% if comment.comment_author_url != '' %}
					<a target="_blank" href="{{ comment.comment_author_url }}">{% endif %}
						<img class="img-fluid p-1" src="{{ comment.avatar }}"
							 alt="{{ comment.author.name }}">
						{% if comment.comment_author_url != '' %}</a>{% endif %}
				</div>
				<div class="col-md-11">
					<div class="card-body pt-0">
						<div class="card-text comment-date pb-2">
							<time datetime="{{ comment.comment_date_gmt }}">
								<small class="text-muted">{{ comment.date('d/m/Y') }}</small>
							</time>
						</div>
						<h5 class="card-title comment-author">{{ comment.author.name }}</h5>
						<div class="card-text comment-content">{{ comment.comment_content|wpautop }}</div>
						<p class="card-text">
							{% if logged_in %}
								<small>
									<a href="{{ fn('esc_url', fn('get_edit_comment_link', comment ) ) }}">
										{{ _e( 'Edit' ) }} &raquo;</a>&nbsp;&nbsp;
								</small>
							{% endif %}
							<small>{{ comment.reply_link('Reply &raquo;') }}</small>
						</p>
					</div>
				</div>
			</div>
		</div>

		<section class="comment-box">

			<!-- Child comments -->
			{% if comment.children %}
				<div class="comments ml-5 children">
					{% for cmt in comment.children %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
			{% endif %}

		</section>
	</div>
{% endif %}
