{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<div class="row">
				<div class="col-md-8">
					<h2 class="display-5 pb-3">{{ post.title }}</h2>
					<hr class="pt-0 mt-0 mb-4"/>
					<section class="page-content">
						{{ referral }}
						<h4 class="mt-4">Buy me a coffee</h4>
						<hr class="mt-4 mb-4">
						{{ coffee }}
						{{ post.content }}
					</section>
				</div>
				<div class="col-md-4">
					<aside class="sidebar px-5">
						{% if page_sidebar %}
							{{ page_sidebar }}
						{% endif %}
					</aside>
				</div>
			</div>

	</article>

{% endblock %}
