{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="row">
			<div class="col-md-8">
				<h2 class="display-4 pb-3 shadows">{{ post.title }}</h2>
				<section class="page-content">
					<hr class="pt-0 mt-0 mb-4"/>
					<ul class="list-unstyled">
						{{ first }}
					</ul>

					<ul class="list-unstyled">
						{{ second }}
					</ul>

					<ul class="list-unstyled">
						{{ third }}
					</ul>

					<ul class="list-unstyled">
						{{ fourth }}
					</ul>

					{{ post.content }}
				</section>
			</div>
			<div class="col-md-4">
				<aside class="sidebar mt-md-0 mt-4 px-md-4 px-0">
					{% if page_sidebar %}
						{{ page_sidebar }}
					{% endif %}
				</aside>
			</div>
		</div>

	</article>

{% endblock %}
