{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="row">
			<div class="col-md-8">
				<h2 class="display-5 pb-3">{{ u_title }}</h2>
				<hr class="pt-0 mt-0 mb-4"/>
				<section class="page-content">
					<p class="mb-5 mt-3">
						{{ u_message }}
					</p>
					<div class="mb-5 mt-3 me-5">
						{% include 'searchform.twig' %}
					</div>
				</section>
			</div>
			<div class="col-md-4">
				<aside class="sidebar ps-5 ms-1">
					{% if page_sidebar %}
						{{ page_sidebar }}
					{% endif %}
				</aside>
			</div>
		</div>

	</article>

{% endblock %}
