{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="d-flex align-items-start">

			<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
				 aria-orientation="vertical">
				<a class="nav-link rounded-0 left-page" id="v-pills-none-tab" data-bs-toggle="pill" href="#v-pills-none"
				   role="tab" aria-controls="v-pills-ita" aria-selected="true"></a>
			</div>

			<div class="tab-content w-100" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-none" role="tabpanel"
					 aria-labelledby="v-pills-none-tab">

					<div class="row">
						<div class="col-md-8">
							<h2 class="display-5 pb-3">{{ post.title }}</h2>
							<hr class="pt-0 mt-0 mb-4"/>
							<section class="page-content">
								<ul class="list-unstyled">
									{{ friends }}
								</ul>
								{{ post.content }}
							</section>
						</div>
						<div class="col-md-4">
							<aside class="sidebar px-5">
								{% if sidebar %}
									{{ sidebar }}
								{% endif %}
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>

{% endblock %}
