{% set label = lang == 'en'? 'Search' : 'Cerca' %}
<form action="{{ site.url }}/" method="get" id="searchform" class="d-flex">
	<label for="s" class="visually-hidden">{{ label }}</label>
	<input class="form-control me-2 rounded-0" type="text" aria-label="{{ label }}" name="s" id="s" placeholder="{{ label }}">
	{% if lang == 'en' %}<input type="hidden" name="lang" id="lang" value="en">{% endif %}
	<button class="btn btn-sm btn-dark rounded-0 border-0" type="submit">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
			 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			 stroke-width="2" role="img" viewBox="0 0 24 24" focusable="false"><title>{{ label }}</title>
			<circle cx="10.5" cy="10.5" r="7.5"/>
			<path d="M21 21l-5.2-5.2"/>
		</svg>
		<span class="visually-hidden">{{ label }}</span>
	</button>
</form>
