{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="row">
			<div class="col-md-8">

				<div class="row">

					<div class="col-12 d-flex">
						<div class="col-md-10 col-8 d-flex">
							<h2 class="display-5 pb-3">{{ lang == 'it'? post.title : post.title_en }}</h2>
						</div>
						{% include 'partial/tabs.twig' %}
					</div>

					<div class="col-md-12 text-break">
						<section class="article-content mb-4">
							<hr class="pt-0 mt-0 mb-4"/>
							<p>{{ lang == 'it'? post.date : post.date_en }}</p>

							<div class="article-body pr-4">
								{{ fn('xlt_old_posts_warning', lang) }}
								{{ lang == 'it'? post.content : post.content_en }}
							</div>

							{% include 'partial/social.twig' %}

							<div class="pt-4">
								{% if post.terms('category') | length %}
									<ul class="list-unstyled ml-0 pl-0 mb-0">
										{% for cat in post.terms('category') %}
											<li class="d-inline"><a href="{{ cat.link }}">{{ cat.name }}</a>
												{% if cat != post.terms('category')|last %}
													<span class="badge bg-white text-dark rounded-0 border-0 fw-bold">|</span>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>

							<hr class="mt-4 mb-4"/>
						</section>

						{% set comments_en = 0 %}
						{% set comments_it = 0 %}

						{% for comment in post.comments %}
							{% if comment.comment_lang == 'it' %}
								{% set comments_it = comments_it + 1 %}
							{% else %}
								{% set comments_en = comments_en + 1 %}
							{% endif %}
						{% endfor %}

						<!-- Comments -->
						{% if comments_it != 0 and lang == 'it' %}
							<section id="post-comments" class="comment-box">
								<h3 class="mb-4">Commenti</h3>
								{% for comment in post.comments %}
									{% include 'comment.twig' %}
								{% endfor %}
								<hr/>
							</section>
						{% endif %}

						{% if comments_en != 0 and lang == 'en' %}
							<section id="post-comments" class="comment-box">
								<h3 class="mb-4">Comments</h3>
								{% for comment in post.comments %}
									{% include 'comment-en.twig' %}
								{% endfor %}
								<hr/>
							</section>
						{% endif %}

						<!-- Comment form -->
						{% if 'open' == post.comment_status %}
							<section id="comment-form" class="comment-box">
								{{ lang == 'it'? fn('xlt_comment_form') : fn('xlt_comment_form_en') }}
							</section>
						{% endif %}

					</div>
				</div>

			</div>
			<div class="col-md-4">
				<aside class="sidebar px-4">
					{% if lang == 'en' %}
						{% include 'partial/newsletter-en.twig' %}
					{% else %}
						{% include 'partial/newsletter-it.twig' %}
					{% endif %}
					{% if sidebar %}
						{{ sidebar }}
					{% endif %}
				</aside>
			</div>

		</div>

	</article>

{% endblock %}
