<div class="col-md-6">
	<article class="tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
		<div class="row g-0 border overflow-hidden flex-md-row mb-4 border-0 h-md-250 position-relative rounded-0">
			<div class="col px-4 py-3 d-flex flex-column position-static">
				{% set cat = post.terms('category')|first %}
				<strong class="d-inline-block mb-2 text-primary">{{ cat.name }}</strong>
				<h2 class="mb-3">{{ post.title }}</h2>
				<p class="card-text mb-auto">{{ post.preview.length(20).read_more('') }}</p>
				<a aria-label="Continua a leggere: {{ post.title }}" href="{{ post.link }}"
				   class="stretched-link">{{ _e( 'continua') }} ></a>
			</div>
			<div class="col-auto d-none d-lg-block">
				{% if post.thumbnail.src %}
					<img width="200" height="250" src="{{ post.thumbnail.src|tojpg | resize(200, 250) }}"
						 class="img-fluid" alt="{{ post.title }}">
				{% endif %}
			</div>
		</div>
	</article>
</div>

