<div class="col-md-6">
	<article class="tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
		<div class="row g-0 border overflow-hidden flex-md-row mb-4 border-0 h-md-250 position-relative rounded-0">
			<div class="col px-4 py-3 d-flex flex-column position-static">
				{% set cat = post.terms('category')|first %}
				<strong class="d-inline-block mb-2 text-primary">{{ cat.name }}</strong>
				{% if lang == 'en' %}
					<h2 class="display-6 mb-3 shadows">{{ post.title_en }}</h2>
					<p class="card-text mb-auto">{{ post.preview_en }}
						<a aria-label="Keep reading: {{ post.title_en }}"
						   href="{{ post.link }}en/"
						   class="display-6 stretched-link text-decoration-none arrow ln-0 align-middle">
							&#8674;</a>
					</p>
				{% else %}
					<h2 class="display-6 mb-3 shadows">{{ post.title }}</h2>
					<p class="card-text mb-auto">{{ post.preview.length(20).read_more('') }}
						<a aria-label="Continua a leggere: {{ post.title }}"
						   href="{{ post.link }}"
						   class="display-6 stretched-link text-decoration-none arrow ln-0 align-middle">
							&#8674;</a>
					</p>
				{% endif %}
			</div>
			{% if post.thumbnail.src %}
				{% set alt = lang == 'en'? post.title_en : post.title %}
					<picture loading="lazy" class="col-auto d-none d-lg-block">
						<source srcset="{{ post.thumbnail.src | resize(200, 250) }}"
								class="img-fluid" type="image/webp" sizes="(max-width: 200px) 100vw, 200px">
						<img width="200" height="250" src="{{ post.thumbnail.src | resize(200, 250) }}"
							 class="img-fluid" alt="{{ alt }}" sizes="(max-width: 200px) 100vw, 200px">
					</picture>
			{% endif %}
		</div>
	</article>
</div>

