<div class="col-md-6">
    <article class="tease tease-{{ post.post_type }}" id="tease-{{ post.ID }}">
        <div class="row g-0 border overflow-hidden flex-md-row mb-4 border-0 h-md-250 position-relative rounded-0">
            <div class="col px-4 py-3 d-flex flex-column position-static min-h-240">
                {% set cat = post.terms('category')|last %}
                <span class="d-inline-block mb-2 text-primary fw-bold">{% include 'partial/terms.twig' %}</span>
                <h2 class="display-6 mb-3 shadows">{{ post.title }}</h2>
                <p class="card-text mb-auto me-5">{{ post.preview.length(20).read_more('') }}
                    <a aria-label="Continua a leggere: {{ post.title }}"
                       href="{{ post.link }}"
                       class="display-6 stretched-link text-decoration-none arrow ln-0 align-middle">
                        &#8674;
                    </a>
                </p>
            </div>
        </div>
    </article>
</div>
