{% if menu %}
		{% for item in items %}
			{% if item.children %}
				<li class="nav-item dropdown {{ item.classes | join(' ') }}">
					{% set target = item.target? ' target="'~item.target~'"': '' %}
					<a class="nav-link dropdown-toggle"{{ target }} href="{{ item.link }}"
					   id="{{ item.slug }}" data-bs-toggle="dropdown" aria-haspopup="true"
					   aria-expanded="false">{{ item.title }}</a>
					<ul class="dropdown-menu bg-dark rounded-0" aria-labelledby="{{ item.slug }}">
						{% for item in item.children %}
							{% set target = item.target? ' target="'~item.target~'"': '' %}
							<li><a class="dropdown-item text-light"{{ target }} href="{{ item.link }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% else %}
				{% set target = item.target? ' target="'~item.target~'"': '' %}
				<li class="nav-item {{ item.classes | join(' ') }}">
					<a class="nav-link"{{ target }} href="{{ item.link }}">{{ item.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
{% endif %}
